
*.jpg
dataset/record/train1.record-00000-of-00005
dataset/record/train1.record-00001-of-00005
dataset/record/train1.record-00002-of-00005
dataset/record/train1.record-00003-of-00005
dataset/record/train1.record-00004-of-00005
dataset/record/train2.record-00000-of-00005
dataset/record/train2.record-00001-of-00005
dataset/record/train2.record-00002-of-00005
dataset/record/train2.record-00003-of-00005
dataset/record/train2.record-00004-of-00005
dataset/record/train3.record-00000-of-00005
dataset/record/train3.record-00001-of-00005
dataset/record/train3.record-00002-of-00005
dataset/record/train3.record-00003-of-00005
dataset/record/train3.record-00004-of-00005
dataset/record/train4.record-00000-of-00005
dataset/record/train4.record-00001-of-00005
dataset/record/train4.record-00002-of-00005
dataset/record/train4.record-00003-of-00005
dataset/record/train4.record-00004-of-00005
dataset/record/val.record-00000-of-00005
dataset/record/val.record-00001-of-00005
dataset/record/val.record-00002-of-00005
dataset/record/val.record-00003-of-00005
dataset/record/val.record-00004-of-00005
