# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\deeplearning\Kaggle_cassava-leaf-disease\tensorflow\cassava-leaf-disease\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
